<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StaticDataLibrary.Properties.StaticDataSource" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StaticDataLibrary.Properties.KeyDataSource" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StaticDataLibrary.Properties.StaticDataSource>
            <setting name="设置" serializeAs="String">
                <value>asdsaads</value>
            </setting>
            <setting name="asd" serializeAs="String">
                <value />
            </setting>
        </StaticDataLibrary.Properties.StaticDataSource>
    </userSettings>
    <applicationSettings>
        <StaticDataLibrary.Properties.KeyDataSource>
            <setting name="打开" serializeAs="String">
                <value>17,79</value>
            </setting>
            <setting name="保存" serializeAs="String">
                <value>17,83</value>
            </setting>
            <setting name="另存为" serializeAs="String">
                <value>17,16,88</value>
            </setting>
            <setting name="用记事本打开" serializeAs="String">
                <value>17,79,78</value>
            </setting>
            <setting name="剪切" serializeAs="String">
                <value>17,88</value>
            </setting>
            <setting name="复制" serializeAs="String">
                <value>17,67</value>
            </setting>
            <setting name="粘贴" serializeAs="String">
                <value>17,86</value>
            </setting>
            <setting name="删除" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="全选" serializeAs="String">
                <value>17,65</value>
            </setting>
        </StaticDataLibrary.Properties.KeyDataSource>
    </applicationSettings>
</configuration>